
    <nav class="navbar bg-info">
      <a class="navbar-brand text-light p-3" href="/">Note Taker </a>
      <div class="icons">
        <i class="fas fa-save text-light save-note"></i>
        <i class="fas fa-plus text-light new-note"></i>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 list-container">
          <div class="card">
            <ul class="list-group">
              <li class="list-group-item" data-note="{&quot;title&quot;:&quot;t1&quot;,&quot;text&quot;:&quot;text&quot;,&quot;id&quot;:&quot;7c463&quot;}"><span class="list-item-title">t1</span><i class="fas fa-trash-alt float-right text-danger delete-note"></i></li>
            </ul><li class="list-group-item" data-note="{"title":"t1","text":"text","id":"7c463"}"><span class="list-item-title">t1</span><i class="fas fa-trash-alt float-right text-danger delete-note"></i></li>
          </div>
        </div>
        <div class="col-8">
          <input
            class="note-title"
            placeholder="Note Title"
            maxlength="28"
            type="text"
          />
          <textarea class="note-textarea" placeholder="Note Text"></textarea>
        </div>
      </div>
    </div>
    <script src="/assets/js/index.js"></script>